{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <h1>Please login to receive your API token/key</h1>
        <form method = 'POST'>
            {{ login_form.hidden_tag() }}
            <div class="form-group">
                <fieldset>
                    {{ login_form.email.lable }}
                    {{ login_form.email(class = 'form-control', placeholder = 'Email Here') }}
                </fieldset>
                <fieldset>
                    {{ login_form.password.lable }}
                    {{ login_form.password(class = 'form-control', placeholder = 'Password Here') }}
                </fieldset>
                {{ login_form.submit(class = 'btn btn-success') }}
            </div>
        </form>
    </div>

{% endblock content %}